/*body {
  background-color: #fcfcf4;
  font-family: "Verdana";
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
*/

/* Tried adding this to help create a sticky footer at the bottom of the page when a lot of content is created. Did not work.
#wrapper {
  min-height: 100%
  position: relative;
}
*/

/* ---CSS for Header--- */
/*
header {
  border: 1px solid #0066cc; 
  width: 100%;
  text-align: center;
  background-color: #0066cc;
  color: #FFFFFF;
  margin-top: 0;
  letter-spacing: 2px;
}
*/

* {
  border-radius: 0 !important;
}


/* ---CSS for Content Section--- */
.content {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  width: 47%;
}

/* ---CSS for sidebar section--- */
aside {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
  width: 47%;
}

/* ---CSS for Footer--- */
footer {
  clear: both;
  width: 100%;
  text-align: center;
  padding-top: 35px;
}

footer a {
  text-decoration: none;
  padding: 0em 2em;
}